@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to productivity heaven.</h1>
    <p>With this application, you can conquer your tasks in an organized fashion.</p>
    <p>In addition, Mack might learn a thing or two about ASP.NET Core web application development.</p>
</div>
