@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to productivity heaven.</h1>
    <p>With this application, you can conquer your tasks in an organized fashion.</p>
    <p>In addition, Mack might learn a thing or two about ASP.NET Core web application development.</p>

    <img src="https://i.kym-cdn.com/photos/images/newsfeed/000/538/716/7f5.gif" alt="A wicked-sick gif." style="width:70%" />
</div>
